@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}
/* part 1 - TITRE */
header {
  font-family: "Shrikhand", sans-serif;
  
  box-shadow: 4px 2px 20px 3px rgba(0, 0, 0, 0.2);
  padding: 0.3rem;
  display: flex;
  justify-content: center;
}


.page-de-garde {
  margin: 0.1rem 0;
  
}

/* main {
  padding: 0 1rem;
} */


/* part 2 - LOCALISATION */
.localisation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: #f3f3f3;
  text-align: center;
  padding: 1rem 0 2rem 0;
  
}
.localisation h2,
.localisation i
{
  font-size: 0.9rem;
  font-weight: 590;
  letter-spacing: -0.02rem;
  }

/* part 3 - SUGGESTION */

.suggestion {
  text-align: center;
  background-color: #edf0f0;
  margin-top: -1.1rem;
}

.suggestion h2 {
  padding-top: 2rem;
  font-size: 1.3rem;
}

.suggestion p {
  font-size: 1rem;
}

.suggestion button {
  color: white;
  font-weight: 540;
  font-size: 1.3rem;
  padding: 1rem 1.1rem;
  border: none;
  border-radius: 2rem;
  background-image: linear-gradient(#ff79da, #9356dc);
  box-shadow: 4px 2px 20px 3px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
  margin: 1rem 0 3rem 0;
  font-size: 1rem;
}

.suggestion button:hover {
  transform: scale(1.02);
  opacity: 0.8;
}

/* part 4 - FONCTIONNEMENT */

.fontionnement {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  width: 95%;
  /* margin: auto; */
}

.fonctionnement ol {
  width: 90%;
  margin: auto;
  padding-left: 1rem;
}

.fonctionnement h2 {
  margin-top: 2rem;
  margin-bottom: 1.3rem;
  margin-left: 1.8rem;
  font-size: 1.2rem;
}

.fonctionnement ol {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  list-style-type: none;
  counter-reset: section;
}

.fonctionnement li {
  position: relative;
  background-color: #edf0f0;
  padding: 1.5rem 2rem;
  flex-grow: 1;
  border-radius: 1rem;
  box-shadow: 4px 2px 20px 3px rgba(0, 0, 0, 0.2);
  font-weight: bold;
}

li::before {
  position: absolute;
  counter-increment: section;
  content: "" counter(section) " ";
  background-color: #9356dc;
  padding: 0.1rem;
  border-radius: 50%;
  color: white;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  bottom: 1.5rem;
  left: -0.7rem;
}

.fonctionnement li:hover {
  background-color: #4e139832
}

.fonctionnement li i {
  margin-right: 1rem;
}


/* part 5 - RESTAURANTS */

.restaurant {
  background-color: #f6f6f6;
  padding: 0.5rem 1rem 2rem;
  margin-top: 4rem;
}

.carte__description h3 {
  padding-top: 0.6rem;
  font-size: 1rem;
  margin: 0rem 0.5rem;
}

a {
  text-decoration: none;
  color: black;
}

.carte__description p {
  margin: 0.5rem;
  margin-top: 0.2rem;
  font-size: 0.9rem;
  padding-bottom: 1rem;
}

.grand-titre {
  margin-top: 2rem;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
}

.restaurant .restaurant__carte {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.restaurant .carte {
  flex-grow: 1;
}

.nouveau {
  position: relative;
}

.nouveau::before {
  content: "Nouveau";
  position: absolute;
  background-color: #99e2d0;
  height: 2rem;
  width: 5rem;
  display: grid;
  place-items: center;
  right: 1rem;
  top: 1rem;
  color: rgb(29, 138, 95);
  font-weight: 500;
}

.carte__image-1 {
  height: 10rem;
  background-image: url(../../racine/images/palette-du-goût.jpg);
  background-size: cover;
  border-radius: 1rem 1rem 0 0;
}

.carte__image-2 {
  height: 10rem;
  width: auto;
  background-image: url(../../racine/images/note-enchantée.jpg);
  background-size: cover;
  border-radius: 1rem 1rem 0 0;
}

.carte__image-3 {
  height: 10rem;
  width: auto;
  background-image: url(../images/à-la-française.jpg);
  background-size: cover;
  border-radius: 1rem 1rem 0 0;
}

.carte__image-4 {
  height: 10rem;
  background-image: url(../images/délice-des-sens.jpg);
  background-size: cover;
  border-radius: 1rem 1rem 0 0;
}

.carte__description {
  position: relative;
  background-color: white;
  border-radius: 0 0 1rem 1rem;
}

.restaurant .carte i {
  position: absolute;
  font-size: 1.2rem;
  right: 1rem;
  top: 30%;
}

.carte__description .fa-solid {
  color: transparent;
  background-image: linear-gradient(#9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms ease-in-out;
}

.carte__description .fa-solid:active {
  opacity: 1;
  transform: translateY(-50%), scale(1.3);
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* part 6 - FOOTER */

footer {
  background-color: #353535;
  color: white;
  padding: 0 0 2rem 1rem;
  /* margin: -0.6rem 1rem 0 1rem; */
  
}

footer h2 {
  font-family: "Shrikhand", "sans-serif";
  font-size: 1rem;
  font-weight: 200;
  padding: 1.2rem 0 .5rem .8rem;
  letter-spacing: 0.04rem;
}

.footer-mention {
  
  font-size: .9rem;
  padding: .3rem .8rem;
}

.espace {
  padding-right: 0.7rem;
}

.espace-2 {
  padding-right: 0.4rem;
}

.contact {
  color: white;
  padding-bottom: 2rem;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

/* PAGE 1 - PALETTE DU GOUT */


.resto-page-principale {
  padding: 0;
}

header {
  width: 100%;
  background-color: white;
  list-style-type: none;
  display: flex;
  align-items: center;
  position: relative;
  
}
header i {
  position: absolute;
  left: 2rem;
  top: 1rem;
}




.logo-titre {
  font-family: "Shrikhand", sans-serif;
  

}

.bannière img {
  width: 100%;
  height: 42vh;
  object-fit: cover;
  object-position: bottom; 
}


/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */


.container {
  max-width: 1280px;
  margin: auto;
  background-color: #f5f5ef;
  
}
.menu {
  margin-top: -4rem;
  border-radius: 2rem 2rem 0 0;
  position: relative; 
}

.carte-descript {
  padding: 0.3rem 2rem 0 1rem;
  position: relative;
  
}

.menu__title {
  font-family: "Shrikhand", sans-serif;
  margin: 1.5rem auto;
  }

.carte-descript i  {
  position: absolute;
  right: 1rem;
  top: 45%;
  font-size: 1.5rem;
}
  
.carte-descript .fa-solid {
  color: transparent;
  background-image: linear-gradient(#ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms ease-in-out;
}

.carte-descript .fa-solid:active {
  opacity: 1;
  transform: translateY(-50%), scale(1.2);
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

.menus {
  background-color: #f5f5ef;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}

.menus__catégories {
  display: flex;
  flex-direction: column;
  gap: 2rem; 
  
}

.menus__liste {
  position: relative;
  text-transform: uppercase ;
  font-weight: 400;
  padding-bottom:.5rem ;
  margin-top: .5rem;
  margin-bottom: 1rem;
}

.entrées {
margin-bottom: 1rem;
}



.desserts {
  margin-bottom: 1rem;
}


.menus__liste::after {
  position: absolute;
  content: "";
  width: 3rem;
  height: 0.25rem;
  background-color: #99e2d0;
  left: 0;
  bottom: 0;
}

.menu-item {
  display: flex; 
  background-color: white;
  border-radius: .75rem;
  overflow: hidden;
  box-shadow: 0px 6px 4px 1px rgb(0 0 0 / 10%);
  
  
}

.menu-item:hover .menu-item__validation {
margin-right: 0;
}


.menu-item__prix {
  margin-left: auto;
  font-weight: bold;
  display: flex;
  align-items: flex-end;
  margin-right: 1rem;
  margin-bottom: 0.3rem;
  
}

.menu-item__description h4,
.menu-item__description p {
  margin-left: .8rem;
}

.menu-item__description h4 {
  margin-top: .7rem;
}

.menu-item__description p {
  margin-bottom: .7rem;
}


.menu-item__validation {
  background-color: #99e2d0;
  margin-right: -3rem;
  width: 3rem;
  transition: all .8s;
  display: grid;
  place-items: center;
}

.menu-item__validation {
  margin-right: -3rem;
}

.menu-item__validation i {
  color: white;
  animation-name: circle-check;
  animation-delay: 1s;
  animation-duration: 1s;
  font-size: 1.5rem;
}

@keyframes circle-check {
  0% {
    transform: rotate(180deg);
  }
  100% { 
    transform: rotate(0);
  } 
}

.habillage-btn-commander {
  display: flex;
  justify-content: center;
  padding: 2.5rem 0 4rem 0;
}

.btn-commander {
  border: 0;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  font-size: 1rem;
  border-radius: 100px;
  color:white;
  background-image: linear-gradient(#ff79da, #9356dc);
  box-shadow: 5px -3px 8px 2px rgba(0, 0, 0, 0.2);
}


/* ANIMATION : BOITE L UNE APRES L AUTRE */

.boite {
  opacity: 0;
}

.boite-1 {
  /* background-color: #62c214; */
  animation-name: fade-menu;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.boite-2 {
  /* background-color: chocolate; */
  margin-top: 3rem;
  padding-top: .5rem;
  animation-name: fade-menu;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

.boite-3 {
  /* background-color: deepskyblue; */
  margin-top: 3rem;
  animation-name: fade-menu;
  animation-duration: 4s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}


@keyframes fade-menu {
  0% {
      opacity: 0;
  }

  10% {
  margin-top: 5%;
}

100% {
  opacity: 1;
}
} 


